.movies-card {
    min-height: 281px;
    border-radius: 6px;
    background: #222;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}

.movies-card__poster {
    display: block;
    border-radius: 6px 6px 0 0;
    max-width: 364px;
    max-height: 203px;
    height: 100%;
    width: 100%;
}

.movies-card__name {
    display: inline-block;
    margin: 0;
    padding: 0;
    max-width: 290px;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.movies-card__footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 0 16px;
}

.movies-card__like-btn {
    display: inline-block;
    background: #222;
    padding: 0;
    margin: 0;
    border: none;
}

.movies-card__like-img {
    display: block;
}

.movies-card__delete-card {
    display: none;
}

.movies-card:hover .movies-card__delete-card {
    display: block;
    cursor: pointer;
}

.movies-card__duration {
    margin: 0;
    padding: 17px 16px 16px;
    color: #8B8B8B;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}

@media screen and (max-width: 1020px) {
    .movies-card {
        min-height: 262px;
    }
}

@media screen and (max-width: 768px) {
    .movies-card__poster {
        max-height: 190px;
    }

    .movies-card__duration {
        padding: 15px 14px 14px;
    }
}

@media screen and (max-width: 590px) {
    .movies-card {
        min-height: 168px;
    }

    .movies-card__delete-card {
        display: block;
    }
}

@media screen and (max-width: 320px) {
    .movies-card__poster {
        max-height: 168px;
    }

    .movies-card__name {
        font-size: 12px;
        line-height: 15px;
    }

    .movies-card__footer {
        padding-top: 14px;
        padding-right: 18px;
    }

    .movies-card__duration {
        padding: 14px;
    }
}
