.profile-account {
    display: flex;
    align-items: center;
    border-radius: 40px;
    background-color: #073042;
}

.profile-account_dark {
    background-color: #202020;
}

.profile-account__name {
    display: block;
    margin: 0;
    padding: 10px 7px 10px 11px;
    font-weight: 500;
    font-size: 13px;
    color: #fff;
}

.profile-account__img {
    display: block;
    margin-right: 3px;
    background-size: 10px 10px;
    width: 26px;
    height: 26px;
    background: #0F4157 url("../../images/avatar.svg") no-repeat center center;
    border-radius: 50%;
}

.profile-account__img_dark {
    background: #313131 url("../../images/avatar.svg") no-repeat center center;
}
