.about-project {
    display: flex;
    padding: 110px 0;
    justify-content: center;
    background-color: #202020;
}

.about-project__content {
    max-width: 1280px;
    width: calc(100% - 70px * 2);
}

.about-project__title {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.about-project__underline {
    padding-top: 23px;
    border-bottom: 1px solid #DADADA;
}

.about-project__info-items {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    gap: 40px;
}

.about-project__info-item {
    max-width: 550px;
    width: 100%;
}

.about-project__info-label {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.about-project__info-content {
    margin: 0;
    padding: 26px 0 0;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.about-project__progress-bar {
    display: flex;
    padding-top: 110px;
    width: 100%;
}

.about-project__progress-back-end {
    width: 20%;
}

.about-project__progress-item {
    margin: 0;
    padding: 9px 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.about-project__progress-item_back-end {
    background-color: #3DDC84;
}

.about-project__progress-item_front-end {
    background-color: #303030;
}

.about-project__progress-front-end {
    width: 80%;
}

.about-project__progress-item-label {
    margin: 0;
    padding: 14px 0;
    color: #8B8B8B;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 768px) {
    .about-project__info-items {
        gap: 30px;
    }

    .about-project__content {
        max-width: 1280px;
        width: calc(100% - 50px * 2);
    }

    .about-project__info-content {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 640px) {
    .about-project__underline {
        padding-top: 28px;
    }

    .about-project__info-items {
        padding-top: 60px;
        gap: 56px;
        align-items: center;
        flex-direction: column;
    }

    .about-project__content {
        max-width: 1280px;
        width: calc(100% - 18px * 2);
    }

    .about-project__info-label {
        font-size: 18px;
        line-height: 22px;
    }

    .about-project__info-content {
        font-size: 11px;
        line-height: 16px;
    }

    .about-project__progress-item {
        font-size: 11px;
        line-height: 13px;
    }

    .about-project__progress-back-end {
        min-width: 100px;
    }

    .about-project__progress-front-end {
        min-width: 184px;
    }

    .about-project__progress-item-label {
        font-size: 11px;
        line-height: 13px;
    }
}
