.about-me {
    display: flex;
    justify-content: center;
    padding-top: 110px;
    background-color: #202020;
}

.about-me__content {
    display: grid;
    grid-template-areas:
            "title title"
            "info img";
    gap: 66px 270px;
    max-width: 1140px;
    width: calc(100% - 70px * 2);
}

.about-me__title {
    grid-area: title;
    margin: 0;
    padding: 0 0 23px;
    border-bottom: 1px solid #DADADA;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.about-me__description {
    grid-area: info;
    display: flex;
    flex-direction: column;
}

.about-me__name {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
}

.about-me__subtitle {
    margin: 0;
    padding: 18px 0 0;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}


.about-me__info {
    margin: 0;
    padding: 26px 0 0;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.about-me__github {
    margin-top: auto;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.about-me__img {
    grid-area: img;
    display: block;
    border-radius: 10px;
    width: 270px;
    object-fit: cover;
}

@media screen and (max-width: 1100px) {
    .about-me__content {
        column-gap: 70px;;
    }
}

@media screen and (max-width: 820px) {
    .about-me__content {
        column-gap: 49px;
        width: calc(100% - 50px * 2);
    }

    .about-me__name {
        font-size: 40px;
        line-height: 40px;
    }

    .about-me__subtitle {
        padding-top: 16px;
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__info {
        padding-top: 20px;
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__img {
        width: 255px;
    }
}

@media screen and (max-width: 640px) {
    .about-me__content {
        grid-template-areas:
            "title"
            "img"
            "info";
        gap: 0;
    }

    .about-me__title {
        padding-bottom: 28px;
        font-size: 18px;
        line-height: 22px;
    }

    .about-me__description {
        padding-top: 40px;
    }

    .about-me__name {
        font-size: 30px;
        line-height: 36px;
    }

    .about-me__subtitle {
        padding-top: 20px;
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__info {
        padding-top: 20px;
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__img {
        margin: 29px auto 0;
        width: 255px;
    }
}

@media screen and (max-width: 320px) {
    .about-me__content {
        width: calc(100% - 14px * 2);
    }

    .about-me__github {
        margin-top: 40px;
    }
}
